@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Main.cshtml";
}
@using PagedList
@using PagedList.Mvc
@using Shop_Fashion.Models.DAL;
@using Shop_Fashion.Models.Entities;
@model IPagedList<Product>
<div class="col-sm-9 padding-right">
  
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">@ViewBag.Parent</h2>
        @*<div class="product-box-tab hidden-xs" style="font-size:17px; margin-bottom:27px; padding-left:15px; color:aqua">
            <a href="/Product/Index?ID=@ViewBag.ID&Name=@ViewBag.TK& Parent=@ViewBag.Parent"><input type="button" value="Mới" class="button btn-fefault cart"></a>
            <div class="btn-group pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                        USA
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Canada</a></li>
                        <li><a href="#">UK</a></li>
                    </ul>
                </div>                
            </div>

        </div>*@
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="/Product/Productdetail?id=@item.Id">
                                <img src="@item.Image" alt="" />
                            </a>
                            <strong>@item.Name</strong>

                            <p>
                                @if (@item.SaleOff == null)
                                {<p>@item.UnitPrice vnd</p>  <br/> }
                                else
                                {<p>@item.SaleOff vnd </p>  <p><strike>@item.UnitPrice vnd</strike></p>}
                            </p>
                            <button class="btn btn-fefault cart btnAddCart" data-id=@item.Id id="">
                                <i class="fa fa-shopping-cart"> Đặt mua</i>
                            </button>
                        </div>

                    </div>
                    
                </div>
            </div>
        }
        @Html.PagedListPager(Model, sotrang => Url.Action("Index", new { page = sotrang,GroupID=ViewBag.group, CategoryID = ViewBag.category, search=ViewBag.search, SupplierID = ViewBag.Supplier }),
       new PagedListRenderOptions()
       {
           LiElementClasses = new List<string> { "MyPagedList" }
       })
        }
        else
        {
        <div class="col-md-12" style="height:50px">
            <span class="alert alert-danger">Không có sản phẩm nào</span>
        </div>
    }
    </div><!--features_items-->    
</div>
<script type="text/javascript">

  
    $('.btnAddCart').click (function () {
        var check = $(this).data('id');
        $.ajax({
            url: '/Cart/AddItem/' + check,
            data: {Id: check},
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {
                if (data.status == true) {
                    alert("Đã thêm sản phẩm vào giỏ hàng")
                   // window.location.href = "//Index/";
                }
                else {
                    alert("Sản phẩm đã hết hàng, vui lòng liên hệ sau");
                }
            }
        })
    })
    
</script>