@model Shop_Fashion.Models.Entities.Supplier

@{
    ViewBag.Title = "ThemTH";
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

<h2>Thêm thương hiệu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Supplier</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2">Tên thương hiệu</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Logo</div>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-length="The field Description must be a string with a maximum length of 500."
                       data-val-length-max="500" id="Logo" name="Image" type="text" value="@Model.Logo" style="width: 155px; height: 30px;">
                <a id="btnSelectImage" href="#">Chọn ảnh</a>
                @Html.ValidationMessageFor(model => model.Logo)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Email</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Số điện thoại</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

